body {
    margin: 0;
    text-align: center;
    background-image: url("https://images.unsplash.com/photo-1577416412292-747c6607f055?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"); 
}
.container {
    display: flex;
    justify-content: space-around;
    width: 480px;
    height: 270px;
    margin: 250px;
    margin-left: 410px;
    background: #0C4A6E ;
}

.score {
    background: #0a0001;
    font-size: 90px;
    color: #F94F6D;
    width: 120px;
    margin: 20px;
    font-family:cursive;
}

button {
    background: none;
    color: aliceblue;
    border-color: aliceblue;
}

h3 {
    color: aliceblue;
    font-size: 24px;
}